{% extends "master.html" %}
{% block content %}
    {% raw %}

        <div class="modal fade" id="loadingModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Fetching Data...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress progress-striped active">
                            <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-app="mydevs">
        <div ng-controller="DevController">
        <div id="dev-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title capitalize" id="myModalLabel"><img class="img-dev img-thumbnail" ng-src="{{modal.avatar}}" /> {{ modal.user }}</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-bind-html='modal.about_trusted'></div>
                    </div>
                    <div class="modal-footer">
                    <table>
                        <tr>
                            <td ng-repeat="(provider, url) in modal.urls">
                                <a target="_blank" ng-href="{{url}}">
                                    <img class="img-thumbnail favicon" ng-src="/static/img/providers/{{provider}}.ico" />
                                </a>
                            </td>
                            <td ng-repeat="(email, a) in modal.email">
                                <a target="_blank" ng-href="http://gravatar.com/{{email}}">
                                    <img class="img-thumbnail favicon" ng-src="/static/img/providers/gravatar.ico" />
                                </a>
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="container-fluid">
            <div class="col-md-3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                        <h4>SkillFinderOS</h4>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="search()">
                            <div class="input-group">
                                <input type="text" class="form-control" id="location-input" ng-model="location" />
                                <span class="input-group-btn">
                                    <input class="btn btn-default" type="submit" value="Search">
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="list">
                            <ul class="list-unstyled">
                                <li ng-model="langs" class="langs" ng-repeat="lang in langs track by $index">
                                    {{lang}}
                                    <button align="right" type="button" class="close" ng-click="removeLang(lang)" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </li>
                            </ul>
                        </div>
                        <form ng-submit="addLang()">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="newLang"  size="30" placeholder="add new language filter">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">Welcome to SkillFinderOS, the place to be...</div>
                </div>
                <table class="table table-striped">
                    <tr class="dev-row list-group-item" ng-repeat="(key, dev) in devs">
                        <td ng-click="devModal(key)" class="dev-modal-trigger">
                            <img class="img-dev img-circle img-responsive" ng-src="{{ dev.avatar }}" alt="..." />
                        </td>
                        <td>
                            <div ng-click="devModal(key)">
                                <p ng-click="devModal(key)" class="p-dev">{{ dev.user }}</p>
                                <!--TODO list repeat all url's -->
                            </div>
                            <div>
                                <div style="float:left" class="unstyled" ng-repeat="(provider, link) in dev.urls">
                                    <a target="_blank" href="{{link}}">
                                        <img class="img-thumbnail favicon" ng-src="/static/img/providers/{{provider}}.ico" />
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
        </div>
    {% endraw %}
{% endblock %}
