<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SkillFinderOS</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/stylish-portfolio/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/stylish-portfolio/css/stylish-portfolio.css" rel="stylesheet">
    <link href="/static/stylish-portfolio/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="img/ico" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/main.css">
    <!--
    <link rel="stylesheet" href="/static/flatify/dist/styles/main.css">
    <link rel="stylesheet" href="/static/flatify/dist/styles/ui.css">
    -->
  </head>

  <body>
    <!-- modals -->
    <div class="modal fade" id="loadingModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	    <h4 class="modal-title" id="myModalLabel">Fetching Data...</h4>
	  </div>
	  <div class="modal-body">
	    <div class="progress progress-striped active">
	      <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <!-- end modals -->
    <div class="reset-this" ng-app="mydevs">
      <div class="reset-this" ng-controller="DevController">
	<!-- dev modal -->
        {% raw %}
	<div id="dev-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<div class="">
		  <img class="modal-dev-img img-dev  pull-left" ng-src={{modal.avatar}}" />
		</div>
                <h4 class="modal-title capitalize" id="myModalLabel">{{ modal.user }}</h4>
		<em class="capitalize" >{{ location }}</em>
              </div>
              <div class="modal-body">
                <div>
                  <div class="panel-left panel">
                    <!-- github -->
                    <div class="panel-heading">
                      <h3 class="panel-title">GitHub</h3>
                    </div>
                    <div class="panel-body">
                        <p>No Repos: <span class="text-primary">{{ modal.providers.github.langs.length }}</span></p>
                        <table>
                            <tr class="skill-li" ng-repeat="lang_obj in modal.providers.github.langs | orderBy:'count':true | limitTo: 4">
                               <td class="" >
                                {{ lang_obj.lang }}: 
                               </td>
                               <td class="github-object-td">
                                <span class="text-primary">{{ lang_obj.count }}</span>
                               </td>
                            </tr>
                        </table>
                    </div>
                  </div>
                  <div class="pull-right panel">
                    <!-- stackoverflow -->
                    <div class="panel-heading">
                      <h3 class="panel-title">StackOverflow</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-if="modal.providers.stackoverflow">
                            <p>Reputation: <span class="text-primary">{{ modal.providers.stackoverflow.reputation }}</span></p>
                            <table>
                                <tr class="skill-li" ng-repeat="tag in modal.providers.stackoverflow.tags | orderBy:'count':true | limitTo: 4">
                                    <td class="" >
                                    {{ tag.name }}: 
                                    </td>
                                    <td class="github-object-td">
                                    <span class="text-primary" alt="questions answered">{{ tag.count }}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="!modal.providers.stackoverflow">
                            <span class="text-muted">{{ modal.real_name }} not found</span>
                        </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="panel-left panel">
                    <!-- angellist -->
                    <div class="panel-heading">
                      <h3 class="panel-title">AngelList</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-if="modal.providers.angellist">
                            <div ng-if="modal.providers.angellist.what_ive_built" class="panel">
                                <span class="text-info">{{ modal.providers.angellist.what_ive_built }}</span>
                            </div>
                            <div ng-if="modal.providers.angellist.skills">
                                <table>
                                    <tr class="skill-li" ng-repeat="skill in modal.providers.angellist.skills | limitTo: 4">
                                        <td class="" >
                                        <a target="_blank" ng-href="{{skill.angellist_url}}">{{ skill.display_name }}</a>
                                        </td>
                                        <td class="github-object-td">
                                        <span class="text-primary" >{{ skill.level }}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="!modal.providers.angellist">
                            <span class="text-muted">{{ modal.real_name }} could not be found on angellist</span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
	    </div>
            <div >
              <table style="margin-top: 1em;">
                <tr>
                  <td class="favicon-td" style="padding:0.5em" ng-repeat="(provider, url) in modal.urls">
                    <a target="_blank" ng-href="{{url}}">
                      <img class="pull-left img-thumbnail modal-favicon" ng-src="/static/img/providers/{{provider | lowercase}}.ico" />
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
	</div>
	{% endraw %}
	<!-- end modal -->
	<!-- Side Menu -->
	<a class="btn btn-primary btn-lg toggle" href="#" id="menu-toggle"><i class="fa fa-bars"></i></a>
	<div id="sidebar-wrapper">
	  <ul class="sidebar-nav">
	    <a class="btn btn-default btn-lg pull-right toggle" href="#" id="menu-close"><i class="fa fa-times"></i></a>
	    <li class="sidebar-brand"><a href="#">Welcome Guest!</a>
	    </li>
	    <li><a href="#top">Home</a>
	    </li>
	    <li><a href="#map">Map</a>
	    </li>
	    <li><a href="#search">Search</a>
	    </li>
	    <li><a href="#portfolio">About Us</a>
	    </li>
	  </ul>
	</div>
	<!-- /Side Menu -->

	<!-- Full Page Image Header Area -->
	<div id="top" class="header" >
	  <div class="vert-text" >
	    <h1>Search SkillFinder</h1>
	    <div class=" container">
	      <div class="row">
		<div class="col-lg-4 col-md-4 "></div>
		<div class="col-lg-4 col-md-4">
		  <form role="form" ng-submit="search()">
		    <div class="center-block form-group input-group input-group-lg">
		      <input type="text" placeholder="location" class="center-block input-group-large input-group form-control" id="location-input" ng-model="location" />
		    </div>
		  </form>
		  <form ng-submit="addLang()">
		    <div class="center-block form-group input-group-lg input-group">
		      <input type="text" class="center-block input-group-large input-group form-control" ng-model="newLang"  size="30" placeholder="language">
		    </div>
		  </form>

		</div>
		<div class="col-lg-4 col-md-4">
		  {% raw %}
		  <ul class="list-group list-unstyled">
		    <li class="langs list-group-item" ng-repeat="lang in langs track by $index">
		      <div class="">
			{{ lang }}
			<button align="right" type="button" class="close" ng-click="removeLang(lang)" data-dismiss="modal" aria-hidden="true">&times;</button>
		      </div>
		    </li>
		  </ul>
		  {% endraw %}
		</div>
	      </div>
	    </div>
	    <div class="container panel-heading">
	      <a href="#search" ng-click="search()"class="btn btn-default btn-lg">Find Developers</a>
	    </div>
	  </div>
	</div>
	<!-- /Full Page Image Header Area -->

	<!-- Intro -->
	<div class="container">
	  <div class="row">
	    <div class="col-md-2"></div>
	    <div class="col-md-8">
	      <div id="map" class="intro">
		<!-- Map -->
    <!--
		<div id="devmap" class="map">
		</div>
    -->
		<!-- /Map -->
	      </div>
	    </div>
	    <div class="col-md-2"></div>
	  </div>
	</div>

	<!-- /Intro -->

	<!-- Services -->
	{% raw %}

	<div id="search" class="services">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-2"></div>
	      <div class="col-md-8">
		<div id="no-devs">

		</div>
		<div class="reset-this">
		  <ul class="list-inline list-group list-unstyled">
		    <li class="langs " ng-repeat="lang in langs track by $index">
		      <div class="">
			<code>{{ lang }}</code>
		      </div>
		    </li>
		  </ul>
		</div>

		<table class="table">
		  <tr ng-repeat="(key, dev) in devs">
		    <!-- devs -->
		    <td class="dev-td">
		      <!-- dev -->
		      <div ng-click="devModal(key)" class="dev-img-div">
			<img class="img-dev" ng-src="{{ dev.avatar }}" />
		      </div>
		      <div class="dev-info">
			<span class="dev-user-span h4">
			  {{ dev.user }}
			</span>
			<ul class="dev-ul-providers list-unstyled list-inline">
			  <li ng-repeat="(provider, url) in dev.urls">
			    <div ng-if="validProvider(provider)">
			      <a target="_blank" ng-href="{{ url }}">
				<img class="favicon" data-toggle="tooltip" data-placement="bottom" title="{{dev.user}} on {{provider}}" ng-src="/static/img/providers/{{provider}}.ico" />
			      </a>
			    </div>
			  </li>
			</ul>
		      </div>
		      <p class="capitalize">
			<em>
			  {{ location }}
			</em>
		      </p>
		      <span ng-if="aboutExists(dev.about)">
			<div>
			  {{ aboutExists(dev.about) | limitTo: 150 }}...
			</div>
		      </span>
		      <button ng-click="devModal(key)" type="button" class="pull-right btn bg-info">
			<span class="glyphicon glyphicon-list text-info">
			  Info
			</span>
		      </button>
		    </td>
		    <td class="dev-skill-td">
                      <div class="bg-primary skills-div h4">Repos</div>
                      <ul class="list-unstyled">
			<li class="skill-li" ng-repeat="lang_obj in dev.providers.github.langs | orderBy:'count':true | limitTo: 4">
                          {{ lang_obj.lang }}<span class="badge pull-right">{{ lang_obj.count }}</span>
			</li>
                      </ul>
		    </td>
		    <!-- end dev -->
		  </tr>
		  <!-- end devs -->
		</table>
	      </div>
	      <div class="col-md-2"></div>
	    </div>
	  </div>
	</div>
	{% endraw %}
	<!-- /Services -->

	<!-- Callout -->
	<div class="callout">
	  <div class="vert-text">
	    <h1>Finding the Best for the Best</h1>
	  </div>
	</div>
	<!-- /Callout -->

	<!-- Portfolio -->
	<div id="portfolio" class="portfolio">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-4 col-md-offset-4 text-center">
		<h2>About Us</h2>
		<hr>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-4 col-md-offset-2 text-center">
		<div class="panel portfolio-item">
		  <div class="panel-header">
		    <a href="#">
		      <img class="img-portfolio img-responsive" src="{{ images[2] }}">
		    </a>
		  </div>
		  <div class="panel-body">
		    <h4>Cityscape</h4>
		  </div>
		</div>
	      </div>
	      <div class="col-md-4 text-center">
		<div class="panel portfolio-item">
		  <div class="panel-header text-muted">
		    <p>In my purely subjective opinion, this is the best thing since self-righting toast!</p>
		  </div>
		  <!-- TODO fix code so everything is aligned -->
		  <div class="panel-body">
		    <h4>We are the Best</h4>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-4 col-md-offset-2 text-center">
		<div class="panel portfolio-item">
		  <a href="#">
		    <img class="img-portfolio img-responsive" src="{{ images[4] }}">
		  </a>
		  <h4>Stop Sign</h4>
		</div>
	      </div>
	      <div class="col-md-4 text-center">
		<div class="panel portfolio-item">
		  <div class="panel-header text-muted">
		    <p>refer to the image on the left, now go play on the beach!</p>
		  </div>
		  <div class="panel-body">
		    <h4>Advice from the Rhabbi</h4>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- /Portfolio -->

	<!-- Call to Action -->
	<div class="call-to-action">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-6 col-md-offset-3 text-center">
		<h3>Be Bamboo</h3>
		<!-- TODO find something semi-competent to put in here -->
		<a href="#" class="btn btn-lg btn-primary">Bend</a>
		<a href="#" class="btn btn-lg btn-default">Snap!</a>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- /Call to Action -->


	<!-- Footer -->
	<footer>
	  <div class="container">
	    <div class="row">
	      <div class="col-md-6 col-md-offset-3 text-center">
		<ul class="list-inline">
		  <li><i class="fa fa-facebook fa-3x"></i>
		  </li>
		  <li><i class="fa fa-twitter fa-3x"></i>
		  </li>
		  <li><i class="fa fa-dribbble fa-3x"></i>
		  </li>
		</ul>
		<div class="top-scroll">
		  <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
		</div>
		<hr>
		<p>This&times;Company</p>
	      </div>
	    </div>
	  </div>
	</footer>
	<!-- /Footer -->

	<!-- JavaScript -->
	<script src="/static/js/jslib/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>

	<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
	<script>
	 $("#menu-close").click(function(e) {
	   e.preventDefault();
	   $("#sidebar-wrapper").toggleClass("active");
	 });
	</script>
	<script>
	 $("#menu-toggle").click(function(e) {
	   e.preventDefault();
	   $("#sidebar-wrapper").toggleClass("active");
	 });
	</script>
	<script>
	 $(function() {
	   $('a[href*=#]:not([href=#])').click(function() {
	     if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

	       var target = $(this.hash);
	       target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
	       if (target.length) {
		 setTimeout(function() {
		   $('html,body').animate({
		     scrollTop: target.offset().top
		   }, 1000) }, 0);
		 return false;
	       }
	     }
	   });
	 });
	</script>
    <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js"> </script>
	<script src="/static/js/jslib/angular.js"></script>
	<script src="/static/js/skillfinder.js"></script>

	<script type="text/javascript">
	 $(".header").css('background-image', 'url({{ images[0] }})');
	 $(".callout").css('background-image', 'url({{ images[1] }})');
	</script>

      </div>
    </div>
  </body>

</html>
